{% load static %}

<!-- Footer Structure -->
<footer>
    <div class="footer-row">
        <section class="footer-col logo">
            <div>
                <img src="{% static 'accounts/images/1.png' %}" alt="Hospital Logo">
            </div>
            <h3>Medika Nusantara</h3>
            <p>Kawasan Inti Pusat Pemerintahan Ibu Kota Negara, Kecamatan Sepaku, Penajam Paser Utara, Kalimantan Timur
            </p>
        </section>

        <section class="footer-col">
            <h4>About Us</h4>
            <ul>
                <li> <a href="#">History</a></li>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Education and Training</a></li>
                <li><a href="#">Our Management</a></li>
            </ul>
        </section>

        <section class="footer-col">
            <h4>Coporate</h4>
            <ul>
                <li><a href="#">Buat Janji Temu</a></li>
                <li><a href="#">Cari Dokter</a></li>
                <li><a href="#">Cari Lokasi</a></li>
                <li><a href="#">Karir</a></li>
            </ul>
        </section>

        <section class="footer-col">
            <h4>Newsletter</h4>
            <p>Subscribe to our newsletter for news, updates, helpful tips and exclusive offers.</p>
            <form action="#">
                <input type="text" placeholder="Your email" required>
                <button id="subscribe" type="submit">SUBSCRIBE</button>
            </form>
        </section>
    </div>
</footer>