@media screen and (max-width: 768px){
    .about{
        flex-direction: column;
        height: auto;
    }
    .about .container-about{
        width: 100%;
    }
    .news{
        flex-wrap: wrap;
    }
    .card{
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .caption-hero{
        width: 100%;
        align-items: center;
    }
    .caption-hero h3{
        text-align: center;
    }
}

@media screen and (max-width: 425px){
    .news{
        justify-content: center;
    }
    /* Page calendar */
    .book{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .card-appoiments-calendar{
        width: 100%;
    }
    .calendar-wrapp h2{
        font-size: var( --font-size-h5);
        margin-bottom: 10px;
    }
    .year-change{
        width: 20px;
    }
    .book-click{
        gap: 20px;
    }
    /* end style Page calendar */
    .hero .hero-img-container img{
        object-position: left top;
    }
 
}
