{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'accounts/styles/login_register.css' %}">

<!-- get icon  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="{% static 'styles/home/footer.css' %}">
<link rel="stylesheet" href="{% static 'styles/home/fotnav-res.css' %}"> <!--Responsive navbar and %%-->
<link rel="stylesheet" href="{% static 'styles/home/Public/style.css' %}"> <!-- Prorch css-->
<link rel="stylesheet" href="{% static 'styles/home/Public/responsive.css' %}">

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %}

{% block content %}
<!-- header Structure -->
<header>
    <div class="head">
        <div class="logo">
            <img src="{% static 'accounts/images/1.png' %}" alt="logo">
            <h3>Medika Nusantara</h3>
        </div>
        <div class="menu">
            <div class="emergency-call">
                <i class="fa-solid fa-phone"></i>
                <p>Emergency Call</p>
            </div>
            <div class="language">
                <i class="fa-solid fa-globe"></i>
                <p>ID</p>
            </div>
        </div>
    </div>
</header>
<!-- End header Structure -->

<!-- Section Structure login and Register-->
<section class="form-popup">
    {% if request.path == '/accounts/login/' %}
    <div class="form-box login">
        <h1>Login</h1>
        <div class="login-container">
            <div class="login-box">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <label for="id_email">Email</label>
                        <input type="email" name="email" required id="id_email">
                    </div>
                    <div class="input-field">
                        <label for="id_password">Password</label>
                        <input type="password" name="password" required id="id_password">

                        {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <span class="error-message">{{ message }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
        
                        <p>Forgot Password? <a href="{% url 'reset_password' %}">Reset Password</a></p>
                    </div>
                    <button id="login" type="submit">Login</button>
                    <p class="create-acc">Don't have an account yet? <a href="{% url 'signup' %}"> Create an Account</a>
                    </p>
                </form>
            </div>

            <div class="image-form">
                <img src="{% static 'accounts/images/dokterlogin.png' %}" alt="">
            </div>
        </div>
    </div>

    {% elif request.path == '/accounts/signup/' %}
    <div class="form-box signup">
        <h1>Sign Up</h1>
        <div class="login-container">
            <div class="login-box">
                <form action="" method="post" id="signup-form" class="form">
                    {% csrf_token %}
                    <div class="input-field">
                        <label for="id_full_name">{{ form.full_name.label }}</label>
                        {{ form.full_name }}
                        <small></small>

                        <span class="error-message">{{ form.full_name.errors | first }}</span>
                    </div>
                    <div class="input-field">
                        <label for="id_email">{{ form.email.label }}</label>
                        {{ form.email }}
                        <small></small>

                        <span class="error-message">{{ form.email.errors | first }}</span>
                    </div>
                    <div class="input-field">
                        <label for="id_password1">{{ form.password1.label }}</label>
                        {{ form.password1 }}
                        <small></small>

                        <span class="error-message">{{ form.password1.errors | first }}</span>
                    </div>
                    <div class="input-field">
                        <label for="id_password2">{{ form.password2.label }}</label>
                        {{ form.password2 }}
                        <small></small>

                        <span class="error-message">{{ form.password2.errors | first }}</span>
                    </div>
                    <div class="policy-text">
                        <input type="checkbox" id="policy" required>
                        <label for="policy">
                            I agree the
                            <a href="#" class="option">Terms & Conditions</a>
                        </label>
                    </div>
                    <button id="login" type="submit">Sign Up</button>
                    <p class="create-acc">have an account yet? <a href="{% url 'login' %}"> Login</a></p>
                </form>
            </div>

            <div class="image-form">
                <img src="{% static 'accounts/images/dokterlogin.png' %}" alt="">
            </div>
        </div>
    </div>
    {% endif %}
</section>
<!-- Section Structure login and Register-->

{% include "footer.html" %}

<script src="{% static 'accounts/js/login_register.js' %}"></script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>AOS.init();</script>

{% endblock %}