
.form-box h1{
    margin-bottom: 30px;
    color: #00BCFF;
}
.login-container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 448px ; */
}
.login-container form .input-field input{
    display: block;
    width: 100%;
    padding-block: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    /* background: none; */
    /* border-bottom: 2px solid #000000; */
}


.login-container form .input-field input:focus{
    outline: none;
}
.login-container form p{
    padding-block: 5px;
    font-size: 12px;
}
.login-container form .create-acc{
    width: 100%;
    text-align: center;
}
.login-container form a{
    text-decoration: none;
    
}

#login{
    padding: 5px 15px;
    width: 100%;
    background-color: #00BCFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    /* margin-top: 15px; */
    cursor: pointer;
    transition: background-color 0.3s;
}
#login:hover{
    background-color: #05a1da;
}

.login-box{
    flex: 1; /* Take up 50% of the container's width */
    width: 50%;
    background-color: #E3E2E2;
    padding: 40px 20px;
    /* box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
.image-form {
    flex: 1; /* Take up 50% of the container's width */
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.image-form img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Erorr messages disable */
.error-message-password, .error-message-email{
    display: none;
}