:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.time-wrapp{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.time-book{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.time-book span{
    padding-inline: 20px;
    padding-block: 10px;
    background: var(--dark-second);
    border-radius: 5px;
    color: var(--dark-text);
    cursor: pointer;

}
.time-book span.selected {
    background: var(--blue);
}
.calendar-wrapp h2{
    margin-bottom: 30px;
}
.book{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.calendar-book{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.book-click{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.book-click form button{
    padding-inline: 30px;
    padding-block: 10px;
    margin-top: 30px;
    text-decoration: none;
    color: var(--dark-text);
    background: #0000ff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}
.card-appoiments-calendar{
    width: 18rem;
    height: 260px;
    background: var(--container);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);
    background: var(--container);
    border-radius: 10px;
    overflow: hidden;
}
.calendar {
    height: max-content;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 10px;
    /* padding: 20px; */
    position: relative;
    overflow: hidden;
    /* transform: scale(1.25); */
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-body1);
    font-weight: 600;
    color: var(--color-txt);
    padding-inline: 10px;
    padding-top: 20px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
    place-items: center;
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}




.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--secondary);
    /* background-color: var(--bg-main); */
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
    border-radius: 10px;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list>div {
    display: grid;
    place-items: center;
}

.month-list>div>div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list>div>div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}