@media screen and (max-width: 1024px){
    /* navbar */
    .container {
        padding-inline:50px;
        padding-block: 20px;
    }
    .input-container{
         width: 360px;
    }
    /* footer */
    .footer-row, .copy-right{
        padding-inline: 100px;
    }
}
@media screen and (max-width: 768px){
    /* navbar */
    
    .search{
        display: none;
    }
    .hamburger {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    /* footer */
    .footer-row, .copy-right{
        padding-inline: 80px;
    }
    .sosial-media{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 425px){
    .footer-row, .copy-right{
        padding-inline: 30px;
    }
    .copy-right{
        flex-direction: column;
        align-items: center;
    }
    
    .respon-news{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 375px){
    .footer-row, .copy-right{
        padding-inline: 15px;
    }
    .copy-right{
        flex-direction: column;
        align-items: center;
    }
    
    .respon-news{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
