* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Styling header */

header {
    padding-block: 24px;
    background-color: #6F887B;
}

.head {
    width: 100%;
    padding-inline: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head>.logo {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 20px;

}

.head>.logo {
    color: #fff;
    display: inline-flex;
}

.head>.logo img {
    max-width: 50px;
}

.head>.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu>.emergency-call,
.language {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    color: #fff;
}

/* End Styling header */

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* styling section login */
.form-box {
    padding-inline: 120px;
    padding-block: 30px;
}

.form-box h1 {
    margin-bottom: 30px;
    color: #00BCFF;
}

.login-container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 448px ; */
}

.login-container form .input-field input {
    display: block;
    width: 100%;
    padding-block: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    /* background: none; */
    /* border-bottom: 2px solid #000000; */
}


.login-container form .input-field input:focus {
    outline: none;
}

.login-container form p {
    padding-block: 5px;
    font-size: 12px;
}

.login-container form .create-acc {
    width: 100%;
    text-align: center;
}

.login-container form a {
    text-decoration: none;

}

#login {
    padding: 5px 15px;
    width: 100%;
    background-color: #00BCFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    /* margin-top: 15px; */
    cursor: pointer;
    transition: background-color 0.3s;
}

#login:hover {
    background-color: #05a1da;
}

.login-box {
    flex: 1;
    /* Take up 50% of the container's width */
    width: 50%;
    background-color: #E3E2E2;
    padding: 40px 20px;
    /* box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.image-form {
    flex: 1;
    /* Take up 50% of the container's width */
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.image-form img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}




/* End styling section login */

/*  styling section sign up*/
.policy-text label {
    font-size: 12px;
}

/*  styling section sign up*/




/* styling section footer */

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 120px;
    gap: 20px;
    padding-block: 60px;
    background-color: #6F887B;
    margin-top: 50px;
}

/* giving color font */
.footer-row>.footer-col {
    color: #fff;
}

/* Giving style title such as  about us, coporate, subscribe*/
.footer-col>h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* remove list style and giving top margin */
.footer-col>ul>li {
    list-style: none;
    margin-bottom: 10px;
}

/* remove underline on tag a and giving color font */
.footer-col>ul>li>a {
    color: #fff;
    text-decoration: none;
}


/* Styling section logo */
.footer-row>.logo>p {
    margin-block: 10px;
    max-width: 300px;
    text-align: justify;
}

.footer-col>p {
    max-width: 300px;
    text-align: justify;
}

.footer-col>div img {
    width: 215px;
    height: 140px;
}

.footer-col form {
    height: 43px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 15px;
}

/* Style input email for subscribe */
.footer-col form input {
    width: 211px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    outline: none;
    border: none;
    background: none;

}

/* style button subscribe */
.footer-col form #subscribe {
    padding-inline: 10px;
    border-radius: 0 10px 10px 0;
    border: none;
    height: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    background-color: #DEB887;
}

/* End styling section footer */