<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>footer</title>
        <!-- get icon  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- style website using CSS -->
        <link rel="stylesheet" href="/src/styles/footer.css">
        <link rel="stylesheet" href="/src/styles/fotnav-res.css">
        <!-- add font from google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Noto+Sans+JP:wght@300;400&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
        <link rel="icon" href="/asset/1.png" />
    </head>
<body>
    <!-- Footer Structure -->
    <footer>
        <div class="footer-row">
            <section class="footer-col logo">
                <div>
                    <img src="/asset/1.png" alt="Hospital Logo">
                </div>
                <h3>Medika Nusantara</h3>
                <p>Kawasan Inti Pusat Pemerintahan Ibu Kota Negara, Kecamatan Sepaku, Penajam Paser Utara, Kalimantan Timur</p>
            </section>

            <section class="footer-col">
                <h4>About Us</h4>
                <ul>
                    <li> <a href="#">History</a></li>
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Education and Training</a></li>
                    <li><a href="#">Our Management</a></li>
                </ul>
            </section>

            <section class="footer-col">
                <h4>Coporate</h4>
                <ul>
                    <li><a href="#">Buat Janji Temu</a></li>
                    <li><a href="#">Cari Dokter</a></li>
                    <li><a href="#">Cari Lokasi</a></li>
                    <li><a href="#">Karir</a></li>
                </ul>
            </section>

            <section class="footer-col respon-news">
                <h4>Newsletter</h4>
                <p>Subscribe to our newsletter for news, updates, helpful tips and exclusive offers.</p>
                <form action="#">
                    <input type="text" placeholder="Your email" required>
                    <button id="subscribe" type="submit">SUBSCRIBE</button>
                </form>
                <div class="sosial-media">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
            </section>
        </div>
        <div class="copy-right">
            <p>Copyright &copy; 2023 Medika Nusantara. All rights reserved.</p>
            <div class="privacy">
                <a href="#">Privacy Policy</a>
                <a href="#">Help & Support</a>
            </div>
        </div>
    </footer>
</body>
</html>